*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #F6F0EB;
    font-family: 'poppins' sans-serif;
}
a{
    text-decoration-line: none;
    color: black;
}

header{
  
    background-color: #fff;
   padding: 18px 32px;
   
}
.header-conetnt{
    max-width: 1290px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
nav{
    display: flex;
   gap: 70px;
   padding-right: 130px; 
  
    
}
nav a {
  font-weight: 700;
  font-size: 20px;
  color: #491118; 
 
}

main{
    padding: 0 32px;
}
.logo{
    width: 50px;
}
img{
width: 100%;

}

.img-container{
max-width: 750px;
margin: 0 auto;
padding-top: 3rem;
}
.hero-section p{
color: #492118;
text-align: center;
font-size: 24px;
}

section{
    margin-top: 70px ;
}

.section .img-container{
    max-width:690px ;
}
.section h2{
    font-size: 42px;
    font-weight: 700;
    color: #492118;
    text-align: center;
}

.go-to-top{
    text-align: right;
    color: #492118;
    max-width:690px ;
    margin: 0 auto;
    font-size: 22px;
    margin-top: 18px;
}
.go-to-top a{
    text-decoration-line: underline;
}
.footer-text{
     text-align: center;
     color: #858585;
     font-size: 24px;
     margin-top: 32px;
}

.close-icon{
    position:absolute;
    top: 16px;
    right: 19px;
   cursor: pointer;
   display: none;
}

.hamburger-menu-conatiner{
    overflow: hidden;
    position: relative;
    height:  100px;
    width: 100px;
    display: none;
    
}

.hamburger-menu{
    width: 200px;
    height: 200px;
    border-radius: 50%;
   position: absolute;
    right: -120px;
    top: -120px; 
    background-color: white;
    cursor: pointer;
}

.hamburger-icon{
    font-size: 28px;
    position: absolute;
    bottom: 32px;
    left: 40px;

}

@media(max-width:1200px){
nav a{
    font-weight: 700;
    font-size: 16px;
    color: #491118;
}
nav{
    padding-right: 0px;
}
}
@media(max-width:900px)
{
    nav{ 
        gap: 30px;
      

     }
}
@media(max-width:768px){
header{
    background-color: transparent;
}
nav{
    position: absolute;
    background-color: rgba(255,255,255,0.75);
    flex-direction: column;
    right: 0;
    padding: 24px;
    top: 0;
    display: none;
}
nav a{
    margin: 0 ;
    margin-top: 1px;
}
.close-icon{
    display: block;
}
.hamburger-menu-conatiner{
    display: block;
}
.menu-open nav{
    display: flex;
}
.menu-open .hamburger-menu-conatiner{
    display: none;
}
}

